@tailwind base;
@tailwind components;
@tailwind utilities;



/* might be used very often */
.row-content-box-1 {
    @apply flex justify-start items-start;
}
.row-content-box-2 {
    @apply flex justify-center items-start;
}
.row-content-box-3 {
    @apply flex justify-end items-start;
}
.row-content-box-4 {
    @apply flex justify-start items-center;
}
.row-content-box-5 {
    @apply flex justify-center items-center;
}
.row-content-box-6 {
    @apply flex justify-end items-center;
}
.row-content-box-7 {
    @apply flex justify-start items-end;
}
.row-content-box-8 {
    @apply flex justify-center items-end;
}
.row-content-box-9 {
    @apply flex justify-end items-end;
}

.col-content-box-1 {
    @apply flex flex-col justify-start items-start;
}
.col-content-box-2 {
    @apply flex flex-col justify-start items-center;
}
.col-content-box-3 {
    @apply flex flex-col justify-start items-end;
}
.col-content-box-4 {
    @apply flex flex-col justify-center items-start;
}
.col-content-box-5 {
    @apply flex flex-col justify-center items-center;
}
.col-content-box-6 {
    @apply flex flex-col justify-center items-end;
}
.col-content-box-7 {
    @apply flex flex-col justify-end items-start;
}
.col-content-box-8 {
    @apply flex flex-col justify-end items-center;
}
.col-content-box-9 {
    @apply flex flex-col justify-end items-end;
}



/* id */

/*
via-blue-950 to-gray-900 have error in specific env 
https://github.com/tailwindlabs/tailwindcss/issues/8597
*/
#header {
    @apply flex w-full p-4 bg-gradient-to-b from-cyan-900 to-gray-900 text-white;
    --tw-gradient-stops: var(--tw-gradient-from), #172554 var(--tw-gradient-via-position), var(--tw-gradient-to);
}

#main {
    @apply mt-6 w-full px-10 col-content-box-2 z-0;
}

#game-aria {
    @apply mt-6 w-8/12 max-w-4xl bg-gray-600 border-2 border-cyan-100 rounded-lg shadow-lg overflow-hidden row-content-box-2;
}

#left-side {
    /* position, size, element layout */
    @apply relative my-6;
    @apply w-6/12 min-h-[80vh];
    @apply px-12 py-16 col-content-box-1;

    /* colour, appearence */
    @apply bg-gradient-to-br from-cyan-800 to-emerald-600 bg-emerald-500;
    /* @apply border-2 border-cyan-300 shadow-lg shadow-cyan-200; */
    @apply rounded-lg before:blur-lg before:opacity-50;
}

#left-side::before, #left-side::after {
    /* position, size, element layout */
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    @apply w-full h-full;
    @apply content-[""];

    /* colour, appearence */
    @apply p-[1.5px] box-content border-animation;
    @apply z-[-1] rounded-lg;

    /* background-color: rgb(137, 43, 226); */
    /* background-image: conic-gradient(
        rgb(0, 251, 255),
        rgb(255, 213, 0),
        rgb(0, 251, 255)
    ); */
}

#right-side {
    @apply sticky my-20 ml-20 top-10 w-2/12 col-content-box-4;
    @apply before:blur-lg before:opacity-50;
}

#right-side::before, #right-side::after {
    /* position, size, element layout */
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    @apply w-full h-full;
    @apply content-[""];

    /* colour, appearence */
    @apply p-[1.5px] box-content border-animation;
    @apply z-[-1] rounded-lg;
}

#game-canvas {
    width: 20%;
    min-width: 320px;
    background-color: rgb(3, 3, 122);
}


#cellphone-like {
    /* position, size, element layout */
    @apply relative my-12;
    @apply w-[25rem] h-[40rem];
    @apply col-content-box-2;

    /* colour, appearence */
    @apply bg-black;
    @apply rounded-3xl before:blur-lg before:opacity-50;
}

#cellphone-button {
    @apply absolute top-3 w-[50px] h-[50px] col-content-box-5;
    @apply bg-gradient-to-bl from-black to-slate-600 bg-slate-900 rounded-full border border-[#666666];
    --tw-gradient-stops: var(--tw-gradient-from), rgb(31 41 55) var(--tw-gradient-via-position), var(--tw-gradient-to);
}

#cellphone-like::before, #cellphone-like::after {
    /* position, size, element layout */
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    @apply w-full h-full;
    @apply content-[""];

    /* colour, appearence */
    @apply p-[1.5px] box-content border-animation;
    @apply z-[-1] rounded-3xl;
}

#footer {
    @apply flex w-full pt-4 pb-2 bg-gradient-to-b from-gray-500 to-cyan-900 text-white row-content-box-5;
    --tw-gradient-stops: var(--tw-gradient-from), #172554 var(--tw-gradient-via-position), var(--tw-gradient-to);
}


/* class */

.main-container {
    @apply w-full col-content-box-5;
    max-height: 80vh; /* 確保嵌入區域不會超出視窗高度的 80% */
}

.iframe-game {
    @apply w-full rounded-lg;
    height: 600px;
    max-height: 100%; /* 確保 iframe 不會超出容器 */
}

.button {
    @apply bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center;
}

/* https://www.youtube.com/watch?v=ezP4kbOvs_E */
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}
.border-animation {
    background-image: conic-gradient(
        from var(--angle),
        rgb(0, 251, 255),
        rgb(255, 213, 0),
        rgb(0, 251, 255)
        /* transparent,
        rgb(132, 0, 255) 50%,
        transparent 51%,
        rgb(132, 0, 255) */
    );
    animation: spin 10s linear infinite;
}

/*
for youtube :)
https://stackoverflow.com/questions/18342536/how-to-hide-the-bar-at-the-top-of-youtube-even-when-mouse-hovers-over-it
*/
.embed-hidder {
    @apply w-full bg-gray-600 rounded-lg overflow-hidden;
    height: 136px;
}

.youtube-container {
    position: relative;
    padding-right: 100%; /* 16:9 */
    height: 300%; /* enlarge beyond browser width */
    top: -100%; /* center */
}

.iframe-youtube {
    @apply w-full h-full;
    position: absolute; 
    top: 0;
    left: 0;
}

/*
frameBorder abandobed
https://stackoverflow.com/questions/3601273/html5-and-frameborder
disable user interact with embed video
https://stackoverflow.com/questions/59415206/disable-play-pause-button-of-a-youtube-video
*/
iframe {
    /* border: none;           frameBorder="0" is abandobed */
    /* pointer-events: none;   disable any user interaction */
}







